html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: left;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
    padding-left: 10px;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: #cecde2;
    display: none;
    z-index: 999;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

:has(.menu[aria-expanded="true"]) .menu-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (min-width: 636px) {
    .menu-overlay {
        position: static;
        display: block;
        background: transparent;
    }

    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}