html {
    background-color: #f1f5f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* nav styles */
header h1 {
    /* above the overlay */
    position: relative;
    z-index: 1001;
}

.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;

    /* above the overlay */
    position: relative;
    z-index: 1001;
}

.nav-links {
    width: 100%;
    display: none;
    padding: 0 0 50px 0;
}

.nav-links a {
    /* display: block; */
    display: flex;
    text-align: left;
    padding: 10px 0;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0950;
}

.social-links {
    margin: 10px;
    width: 100vw;
    text-align: right;
}

.nav-links a:hover,
.nav-links a:focus {
    /* padding-left: 10px; */
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: #cecde2;
    display: none;
    z-index: 999;
    padding: 15px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

:has(.menu[aria-expanded="true"]) .menu-overlay {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (min-width: 636px) {
    .menu-overlay {
        position: static;
        display: block;
        background: transparent;
    }

    .nav-links {
        padding: 0;
        display: block;
        /* position: static; */
        /* width: auto; */
        /* background: none; */
    }
    .social-links {
        display: none;
    }
    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        font-size: 1.2rem;
    }

    .nav-links a:hover,
    .nav-links a:focus {
        /* display: none; */
    }


    .menu {
        display: none;
    }
}