---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";

import "../styles/global.css";
---

<Layout>
	<Header />
	<p>My kids are the ultimate rubber duckies.</p>

	<h2>Middle School</h2>
	<p>Elective Classes</p>
	<ul>
		<li>Game Design</li>
		<li>3D Modeling Circuits</li>
		<li>Introductory Data Science</li>
	</ul>

	<h2>Elementary School</h2>
	<p>Afterschool Workshop</p>
	<ul>
		<li>Lego Architecture</li>
		<li>Snap Circuits</li>
		<li>Lego Robotics</li>
	</ul>

	<h2>Past Workshops</h2>
	<ul>
		<li>Creative Machine Learning</li>
		<li>Sustainability through 3D Modeling</li>
		<li>Lego Animals</li>
	</ul>

	<p>
		teaching with <a href="https://www.kodely.io/" target="_blank">Kodely</a
		> since 2024
	</p>
</Layout>
