---

---

<div id="container">
    <h1>Nico Bautista-Libreros</h1>
    <nav>
        <ul>
            <li><a href="">Design</a></li>
            <li><a href="">Web</a></li>
        </ul>
    </nav>
    <section>
        <h3></h3>
        <p>Teaching middle schoolers</p>
        <ul>
            <li>Game Design</li>
            <li>Robotics</li>
            <li>Data Science</li>
        </ul>
    </section>

    <section>
        <p>NYC based. Loves visual and interactive design.</p>
    </section>
</div>

<style>
    #container {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>