---

---

<div id="container">
    <h1>Nico Bautista-Libreros</h1>
    <nav>
        <ul>
            <li>Design</li>
            <li>Web</li>
        </ul>
    </nav>
</div>

<style>
    #container {
        display: flex;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        justify-content: space-between;
    }

    nav {
        display: inherit;
        align-items: center;
    }

    nav ul {
        display: inherit;
        list-style-type: none;
    }

    nav li {
        margin: 5px;
    }
</style>