---
import Menu from "./Menu.astro";
import Nav from "./Nav.astro";
---

<header>
    <a href="/" class="logo">
        <h1>nico bl</h1>
    </a>
    <nav>
        <Menu />
        <Nav />
    </nav>
</header>
