---
import Menu from "../components/Menu.astro";
---

<div class="menu-overlay">
    <div id="main-menu" class="nav-links">
        <a href="/">Design</a>
        <a href="/">Web</a>
        <a href="/">Teaching</a>
    </div>
    <div class="social-links">
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    </div>
</div>
