---
---

<div class="menu-overlay">
    <div id="main-menu" class="nav-links">
        <a href="/design">Design</a>
        <a href="/web">Web</a>
        <a href="/teaching">Teaching</a>
    </div>
    <div class="social-links">
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    </div>
</div>
